---
import Counter from '@/components/counter.astro';

import Layout from '../layouts/Layout.astro';
---

<Layout
  title='Astro Vanilla TypeScript — Template'
  description='Boilerplate designed to quickly bootstrap a Astro.JS project. It comes configured with TypeScript, TailwindCSS, Vite, PostCSS, Eslint and Prettier.'
>
  <main class='flex h-full w-full items-center justify-center p-2'>
    <Counter />
  </main>
</Layout>
