---
export interface Props {
  id?: string;
}

const { id } = Astro.props;
---

<button
  id={id}
  type='button'
  class='w-16 rounded-xl bg-accent-primary px-4 py-2 text-xl shadow-md transition-colors hover:bg-accent-primary-state focus:bg-accent-primary-state'
>
  <slot />
</button>
