---
import Button from './button.astro';
---

<div
  class='container flex h-72 w-96 flex-col items-center justify-between rounded-xl border border-tertiary bg-secondary py-10 shadow-lg'
>
  <p id='counter' class='text-5xl font-semibold'>0</p>
  <div class='flex gap-x-5'>
    <Button id='increment'>+ 1</Button>
    <Button id='decrement'>- 1</Button>
  </div>
</div>

<script>
  const main = document.querySelector('main');
  const counter = main?.querySelector('#counter');

  if (main && counter) {
    main.addEventListener('click', (event: MouseEvent) => {
      const { id, tagName } = event.target as HTMLElement;

      if (tagName === 'BUTTON') {
        const currentCount = Number(counter.textContent);

        switch (id) {
          case 'increment': {
            counter.textContent = `${currentCount + 1}`;

            break;
          }
          case 'decrement': {
            counter.textContent = `${currentCount - 1}`;

            break;
          }
        }
      }
    });
  }
</script>
