---
import { BUSINESS_LINK } from '_config';

const year = new Date().getFullYear();
---

<footer
  class='border-t-tertiary absolute bottom-0 flex w-full items-center justify-center border-t py-2'
>
  <p>
    <a
      href={BUSINESS_LINK}
      class='text-accent-primary hover:text-accent-primary-state focus:text-accent-primary-state text-lg transition-colors'
    >
      doinel1a
    </a>
    &nbsp; — &nbsp;
    {year}
  </p>
</footer>
