---
import { BUSINESS_LINK } from '_config';

const year = new Date().getFullYear();
---

<footer
  class='absolute bottom-0 flex w-full items-center justify-center border-t border-t-tertiary py-2'
>
  <p>
    <a
      href={BUSINESS_LINK}
      class='text-lg text-accent-primary transition-colors hover:text-accent-primary-state focus:text-accent-primary-state'
    >
      doinel1a
    </a>
    &nbsp; — &nbsp;
    {year}
  </p>
</footer>
